<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>


<h2><h2><h2></h2></h2></h2>
<form class='classform1' #f='ngForm'>

<label>Consumicion:</label>
<select name='lstColor2' [(ngModel)]='cod_color'>
	<option *ngFor='let color of colores'>{{color[0]}}</option>
</select>
<button type='button' (click)='addLinea(cod_color)'>+</button>
</form>

<br/>
<h2>Consumiciones:</h2>
<table style="width:50%">
  <tr>
    <td><u>Producto</u></td>
    <td><u>Precio</u></td>
  </tr>
  <p *ngFor='let linea of lineas; let i=index'>
  {{linea}}
  <button type='button' (click)='delLinea(i)'>-</button>
</p>
</table>
<br/>
	






