<!--
  Generated template for the RepartidorDetalladoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
		<div id="menuSuperior">
		<table style="width:100%">
		<tr>
		<td style="width:25%"><img class="logo-imagen" src="assets/imgs/LogoApp3.png" width="80" height="80" (click)="goToLoginPage()"/></td>
		<td style="width:50%"><h3 class="tituloMenuSuperior">Routing Deal</h3></td>
		</tr>
		</table>
		</div>
  </ion-navbar>

  
</ion-header>

<ion-content padding class ="bg">
	<ion-list *ngFor="let usuario of listaUsuarios">
		<ion-label *ngIf="usuario.id == id">
			<ion-item class="infoEntrega" text-wrap>
					<img class="marco2" src="assets/imgs/{{usuario.ruta_imagen}}" border="4" align="left" width="70" height="70"/>
 					<p>&nbsp;&nbsp;&nbsp;&nbsp;Nombre: {{usuario.nombre}}</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;Tlf: {{usuario.telefono}}</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;Vehiculo: {{usuario.vehiculo}}</p>
					<button ion-button round outline color="dark" item-end icon-left (click)="asignacionAutomaticaMensaje()">
						<ion-icon name="information-circle"></ion-icon>
					</button>
			</ion-item>
			  <p></p>
			  <img style="width:100%" align="center" src="assets/imgs/MapaAdmin.png" width="100" height="300" />
               <p></p>
              	<p>Paquetes entregados correctamente:</p>
                     <ion-list *ngFor="let entrega of listaEntregas">
                    <ion-item *ngIf="(getRepartidorName(entrega.id) == usuario.nombre) && sinIncidencia(entrega.id)" class="infoEntrega" text-wrap>
                        <p>Paquete {{entrega.id}}</p>
                        <p>Dirección: {{entrega.direccion }}</p>
                        <p>Receptor: {{entrega.nombreReceptor}}    Nº de Bultos: {{ entrega.numeroBultos }}</p>   
                        <p>Franja Horaria: {{entrega.franjaHoraria}}</p>
                    </ion-item>
                    </ion-list>
		</ion-label>
        

	</ion-list>
    




</ion-content>
