page-repartidor-detallado {
	.bg {
		background: linear-gradient(to bottom, #FECC76 0%, #fff 100%);
	}
	.marco2 { 
	   padding:5px; 
	   background-color: #000000; 
	   max-width: 100%;
	   height: auto;
	 }
	img {
		max-width: 100%;
		height: auto;
	}
	
}

.infoEntrega {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
	text-align: left;
	font-size: xx-small;
	
}