page-lista-paquetes {
	.bg {
		background: linear-gradient(to bottom, #FECC76 0%, #fff 100%);
	}
}

.botonFinalizarTurno {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
	text-align: center;
}

.infoEntrega {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
	text-align: left;
	font-size: xx-small;
	
}
