<!--
  Generated template for the AsignacionRepartosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
		<div id="menuSuperior">
		<table style="width:100%">
		<tr>
		<td style="width:25%"><img class="logo-imagen" src="assets/imgs/LogoApp3.png" width="80" height="80" (click)="goToLoginPage()"/></td>
		<td style="width:50%"><h3 class="tituloMenuSuperior">Routing Deal</h3></td>
		</tr>
		</table>
		</div>
  </ion-navbar>
	
</ion-header>


<ion-content padding class ="bg">
	<ion-list>
		<ion-item class="botonesAsignacion">
			<button ion-button (click)="asignacionAutomaticaMensaje()">Asignación automática</button>
		</ion-item>
		<ion-item class="asignacionManual">
			ASIGNACIÓN MANUAL
		</ion-item>
	</ion-list>
	
	<ion-list *ngFor="let entrega of listaEntregas">
		<ion-item *ngIf="sinIncidencia(entrega.id)" class="entregaAsignacion">
			<ion-label *ngIf="getRepartidorName(entrega.id) != 'no asignado' && sinIncidencia(entrega.id)">
				Paquete {{ entrega.id }} <ion-icon large ios="ios-arrow-dropright" md="md-arrow-dropright"></ion-icon> {{ getRepartidorName(entrega.id)}}
			</ion-label>
			<ion-label *ngIf="getRepartidorName(entrega.id) == 'no asignado' && sinIncidencia(entrega.id)">
				Paquete {{ entrega.id }} <ion-icon large ios="ios-arrow-dropright" md="md-arrow-dropright"></ion-icon>
			</ion-label>
			<ion-select *ngIf="getRepartidorName(entrega.id) == 'no asignado' && sinIncidencia(entrega.id)" placeholder="no asignado" [(ngModel)]="asignaciones[entrega.id - 1]">
				<ng-container *ngFor="let repartidor of listaUsuarios">
					<ion-option *ngIf="isRepartidor(repartidor)" [value]=repartidor.id>{{ repartidor.nombre }}</ion-option>
				</ng-container>
			</ion-select>
		</ion-item>
		<ion-item *ngIf="sinIncidencia(entrega.id)" class="infoEntrega" text-wrap>
			<p>Dirección: {{entrega.direccion }}</p>
			<p>Receptor: {{entrega.nombreReceptor}}    Nº de Bultos: {{ entrega.numeroBultos }}</p>   
			<p>Franja Horaria: {{entrega.franjaHoraria}}</p>
		</ion-item>	
	</ion-list>
	
	<ion-list>
		<ion-item class="botonesAsignacion">
			<button ion-button (click)="finAsignacionManual()">Finalizar asignación manual</button>
		</ion-item>
	</ion-list>
</ion-content>
