<!--The content below is only a placeholder and can be replaced.-->
<table bgcolor =#F5BCA9 border = 0>
<div style="text-align:center">
  <h1>
	{{ title }}
  </h1>
</div>

<table id="tablaVehiculos">
	<tr>
		<th>FOTO</th>
		<th>MARCA</th>
		<th>MODELO</th>
		<th>AÑO</th>
		<th>FECHA DE VENTA</th>
		<th>PRECIO</th>
		<th>PVP</th>
		<th></th>
	</tr>

<tr *ngFor='let vehiculo of vehiculosFiltro; let i=index'>
    <th> <img src={{vehiculo.foto}} height="80" width="160"/></th>
	<th>{{ vehiculo.marca | uppercase }}</th>
	<th>{{ vehiculo.modelo | lowercase }}</th>
	<th>{{ vehiculo.anyo | date:'y' }}</th>
	<th>{{ vehiculo.fechaVenta | date:'dd-MM-yyyy' }}</th>
	<th>{{ vehiculo.precio | number:'1.2-2' }} €</th>
	<th>{{ vehiculo.getPVP() | number:'1.2-2' }} €</th>
	<th>
		&nbsp;<button type='button' (click)='vendido(i)'>Vendido</button>
		<button type='button' (click)='rebajar(i)'>Rebajar</button>&nbsp;
	</th>
</tr>


</table>

<div>
<p>
	<b>FILTRO:</b>&nbsp;
    <input type="text" [(ngModel)]="filtro"/>
	<button type='button' (click)='filtrar()'>Aplicar</button>
	</p>
</div>

</table>

