<!--The content below is only a placeholder and can be replaced.-->
<table bgcolor =#F07C2B border = 0>
<div style="text-align:center">
  <h1>
	{{ title }}
  </h1>
</div>

<div align="center">
<p>
	Filtrar por:&nbsp;
    <input type="text" placeholder="(marca de coche)" [(ngModel)]="filtro"/>
</p>
</div>

<table id="tablaVehiculos">
	<tr>
		<th>Foto</th>
		<th>Marca</th>
		<th>Modelo</th>
		<th>Año</th>
		<th>En venta desde</th>
		<th>Precio</th>
		<th>PVP</th>
		<th>Acciones</th>
	</tr>

<tr *ngFor='let id of getFiltrados();'>
    <th> <div *ngIf="vehiculos[id].foto != ''"> <div> <img src={{vehiculos[id].foto}} height="80" width="160"/> </div> </div> 
		 <div *ngIf="vehiculos[id].foto == ''"> <div> (sin foto!) </div> </div>
	</th>
	<th>{{ vehiculos[id].marca | uppercase }}</th>
	<th>{{ vehiculos[id].modelo | lowercase }}</th>
	<th>{{ vehiculos[id].anyo | date:'y' }}</th>
	<th>{{ vehiculos[id].fechaVenta | date:'MM-yyyy' }}</th>
	<th> <div [ngClass] = "{'EstadoBueno': vehiculos[id].estado == EstadoCoche.BUENO,
						   'EstadoMalo': vehiculos[id].estado == EstadoCoche.MALO }">
		{{ vehiculos[id].precio | number:'1.0-0' }}€ </div>
	</th>
	<th>{{ vehiculos[id].getPVP() | number:'1.0-0' }}€</th>
	<th>
		&nbsp;<button type='button' (click)='vendido(id)'>Vendido</button>
		<button type='button' (click)='rebajar(id)'>Rebajar</button>&nbsp;
	</th>
</tr>


</table>

</table>

