page-login {
}

#logo {
	text-align: center;
	padding-top: 10%;
	
	.logo-imagen {
	}
	
	#titulo-aplicacion {
		font-family: Arial, Helvetica, sans-serif;
	}
}

#cuadrosTexto {	
	padding-top: 10%;
}

#botonAcceder {	
	text-align: center;
	padding-top: 0%;
}

